[bumpversion]
current_version = 5.1.6
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-rc(?P<release>\d+))?
serialize = 
	{major}.{minor}.{patch}-rc{release}
	{major}.{minor}.{patch}
commit = True
message = chore(version): bump {current_version} to {new_version}

[bumpversion:file:manim_slides/__version__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:CITATION.cff]
search = version: v{current_version}
replace = version: v{new_version}
