__pycache__/
/env
/build
/dist
*.egg-info/

/media
/presentation

/.vscode

slides/

.manim-slides.json

videos/

images/

docs/build/

docs/source/_static/slides_assets/

docs/source/_static/slides.html

slides_assets/

slides.html

docs/source/_static/basic_example_assets/

docs/source/_static/basic_example.html

docs/source/_static/three_d_example.html

docs/source/_static/three_d_example_assets/

paper/media/

*.jats

paper/paper.pdf

coverage.xml

docs/source/media/
