# Python files
__pycache__/
/env
/build
/dist
*.egg-info/

# Manim files
images/
/media
tests/data/media/
docs/source/media/

# ManimGL files
videos/

# Manim Slides files
.manim-slides.toml

slides/
!tests/data/slides/

slides_assets/

# Docs
docs/build/

slides.html

docs/source/reference/.ipynb_checkpoints/

docs/source/_static/basic_example_assets/

docs/source/_static/basic_example.html

docs/source/_static/three_d_example.html

docs/source/_static/three_d_example_assets/

docs/source/reference/media/

# JOSE Paper
paper/paper.pdf
paper/media/

# Others
.coverage*
coverage.xml

rendering_times.csv
