__pycache__/
/env
/tests
/build
/dist
*.egg-info/

/media
/presentation

/.vscode

slides/

.manim-slides.json

videos/

images/

docs/build/

docs/source/_static/slides_assets/

docs/source/_static/slides.html
