on:
  pull_request:
  workflow_dispatch:

name: Tests

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        pyversion: ['3.8', '3.9', '3.10', '3.11']
    runs-on: ${{ matrix.os }}
    env:
      QT_QPA_PLATFORM: offscreen
      MANIM_SLIDES_VERBOSITY: debug
      PYTHONFAULTHANDLER: 1
      DISPLAY: :99
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Poetry
      run: pipx install poetry

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.pyversion }}
        cache: poetry

      # Path related stuff
    - name: Append to Path on MacOS
      if: matrix.os == 'macos-latest'
      run: |
        echo "${HOME}/.local/bin" >> $GITHUB_PATH
        echo "/Users/runner/Library/Python/${{ matrix.pyversion }}/bin" >> $GITHUB_PATH

    - name: Append to Path on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: echo "${HOME}/.local/bin" >> $GITHUB_PATH

    - name: Append to Path on Windows
      if: matrix.os == 'windows-latest'
      run: echo "${HOME}/.local/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      # OS depedencies
    - name: Install manim dependencies on MacOS
      if: matrix.os == 'macos-latest'
      run: brew install ffmpeg py3cairo

    - name: Install manim dependencies on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install libcairo2-dev libpango1.0-dev ffmpeg freeglut3-dev
        sudo apt-get install xvfb
        nohup Xvfb $DISPLAY &

    - name: Install Windows dependencies
      if: matrix.os == 'windows-latest'
      run: choco install ffmpeg

    - name: Install Manim Slides
      run: |
        poetry install --with test --all-extras

    - name: Run pytest
      if: matrix.os != 'ubuntu-latest' || matrix.pyversion != '3.11'
      run: poetry run pytest

    - name: Run pytest and coverage
      if: matrix.os == 'ubuntu-latest' && matrix.pyversion == '3.11'
      run: poetry run pytest --cov-report xml --cov=manim_slides tests/

    - name: Upload to codecov.io
      if: matrix.os == 'ubuntu-latest' && matrix.pyversion == '3.11'
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        fail_ci_if_error: true
