on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pip-install:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, ubuntu-latest, windows-latest]
        pyversion: ['3.9', '3.10', '3.11', '3.12']
        extras: [pyside6-full, manimgl]
        exclude:
        - pyversion: '3.12'
          extras: manimgl
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.pyversion }}
        cache: pip

    - name: Install manim dependencies on MacOS
      if: matrix.os == 'macos-latest'
      run: brew install ffmpeg py3cairo pango pkg-config scipy

    - name: Install manim dependencies on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt install software-properties-common
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt-get install build-essential python${{ matrix.pyversion }}-dev libcairo2-dev libpango1.0-dev ffmpeg freeglut3-dev xvfb
        nohup Xvfb $DISPLAY &

    - name: Install Windows dependencies
      if: matrix.os == 'windows-latest'
      run: choco install ffmpeg

    - name: Install package
      shell: bash
      env:
        extras: ${{ matrix.extras }}
      run: pip install ".[$extras]"
  pytest:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        pyversion: ['3.9', '3.10', '3.11', '3.12']
    runs-on: ${{ matrix.os }}
    env:
      QT_QPA_PLATFORM: offscreen
      MANIM_SLIDES_VERBOSITY: error
      DISPLAY: :99
      GITHUB_WORKFLOWS: 1
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: Install manim dependencies on MacOS
      if: matrix.os == 'macos-latest'
      run: brew install ffmpeg py3cairo pango pkg-config scipy

    - name: Install manim dependencies on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install build-essential python3-dev libcairo2-dev libpango1.0-dev ffmpeg freeglut3-dev xvfb
        nohup Xvfb $DISPLAY &

    - name: Install Windows dependencies
      if: matrix.os == 'windows-latest'
      run: choco install ffmpeg

    - name: Install Mesa
      if: matrix.os == 'windows-latest'
      uses: ssciwr/setup-mesa-dist-win@v2

    - name: Run pytest
      run: uv run --python ${{ matrix.pyversion }} --frozen --extra tests pytest

    - name: Upload to codecov.io
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        fail_ci_if_error: true

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Check links
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: yes
        use-verbose-mode: yes
        config-file: .mdlc.json
